<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>Auto-player instantiation example, single videoElement, using src attribute</title>
	<script src="http://cdn.dashjs.org/latest/dash.all.min.js"></script>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

	<style>
		video {
			width: 640px;
			height: 360px;
		}
		textarea {
			width: 500px;
			height:360px;
			font-size: 10px;
		}
		input, select {
			background-color: orange;
		}
	</style>
	</head>
	<body>
		<video controls id="videoPlayer"></video>

		<script>
			var url = "stream.mpd";
			var player;
			var frame = 0;
			var payFrames = 2;

			var paymentInfo;

			$('document').ready(init);

			function init() {
				// Init player element and attach manifest
				player = dashjs.MediaPlayer().create();
				player.initialize(document.querySelector("#videoPlayer"), url, true);

				// Disable dashjs debug output spam
				player.getDebug().setLogToBrowserConsole(false);

				// Login to populate paymentInfo variable
				login();

				// Attach event handler
				player.on('fragmentLoadingStarted', onFragmentLoadingStarted);
			}

			function onFragmentLoadingStarted(e) {
				var request = e.request;
				// Only interested in video fragment requests
				if (request.mediaType === "video") {

					console.log('frame ' + frame);
					// Do something
					makePayment();
					frame = frame + 1;
				}
			}

			function login() {
				$.ajax('/login')
				.done(function (data) {
					paymentInfo = data;
					console.log(data);
				});
			}

			function makePayment() {
				$.ajax({
					url: 'http://localhost:8000/PayFrame',
					data: {
						amount: paymentInfo.cost,
						destination: paymentInfo.account,
						sharedSecret: paymentInfo.sharedSecret,
					}
				})
				.done(function(data) {

				})
				.fail(function(data) {

				})
				.always(function() {
					console.log('XHR PayFrame');
				});
			}
		</script>
	</body>
</html>

