<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>Auto-player instantiation example, single videoElement, using src attribute</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dashjs/2.6.7/dash.all.debug.js"></script>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

	<style>
		video {
			width: 640px;
			height: 360px;
		}

		textarea {
			width: 500px;
			height: 360px;
			font-size: 10px;
		}

		input, select {
			background-color: orange;
		}
	</style>
</head>
<body>
<video controls id="videoPlayer"></video>
<p>Client ID: <span id="clientId"></span></p>
<p>Shared secret: <span id="secret"></span></p>
<p>Balance: <span id="balance">0</span></p>

<script>
	var url = "stream.mpd";
	var player;
	var frame = 0;
	var paymentInfo;

	$('document').ready(init);

	function init() {
		// Login to populate paymentInfo variable
		login()

		// Init player object
		player = dashjs.MediaPlayer().create();

		// Extend player XHR behavior
		player.extend("RequestModifier", () => {
					return {
						modifyRequestHeader: xhr => {
							// alter header to include unique token
							xhr.setRequestHeader('Pay-Token', window.clientId);
							return xhr;
						}
					};
				}, true);

		// Attach player to DOM
		player.initialize(document.querySelector("#videoPlayer"), url, true);

		// Disable dashjs debug output spam
		player.getDebug().setLogToBrowserConsole(false);

		// Attach event handler
		player.on('fragmentLoadingStarted', onFragmentLoadingStarted);

		player.pause();

		// Set this to a fairly high # of attempts: payment takes some time to process
		player.setFragmentLoaderRetryAttempts(10);
	}

	function onFragmentLoadingStarted(e) {
		var request = e.request;
		// Only interested in video fragment requests
		if (request.mediaType === "video") {
			console.log('frame ' + frame);
			// Do something
			makePayment();
			frame = frame + 1;
		}
	}

	function login() {
		$.ajax('/login')
				.done(function (data) {
					paymentInfo = data;
					window.clientId = data.clientId;
					$('#clientId').html(data.clientId);
					$('#secret').html(data.sharedSecret);
				});
	}

	function makePayment(amount) {
		if(paymentInfo) {
			$.ajax({
				url: 'http://' + paymentInfo.paymentProviderUri + '/PayFrame',
				data: {
					amount: paymentInfo.cost * 4,
					destination: paymentInfo.account + "." + paymentInfo.clientId,
					sharedSecret: paymentInfo.sharedSecret,
				}
			})
			.done(function (data) {
				if (!data.success) {
					player.pause();
				}
			})
			.fail(function (data) {

			})
			.always(function () {
			});
		}
	}
</script>
</body>
</html>

